@import 'src/sass/variables/index';

.Footer {
  display: block;
  background-color: $footer-color;
  width: 100%;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSIwIDAgMTI3LjIgMTI3LjIiPjxkZWZzPjxjbGlwUGF0aCBpZD0iYSI+PHJlY3QgeD0iLTE2NjguMjciIHk9Ii0xMDMwLjM3IiB3aWR0aD0iMTUwOC41MyIgaGVpZ2h0PSI0MTQuMDQiIHJ4PSI5LjYzIiByeT0iOS42MyIgc3R5bGU9ImZpbGw6bm9uZSIvPjwvY2xpcFBhdGg+PGNsaXBQYXRoIGlkPSJiIj48cmVjdCB4PSItNzQ1LjQ5IiB5PSItOTkxLjg2IiB3aWR0aD0iNTM0LjQxIiBoZWlnaHQ9IjMzNy4wMSIgcng9IjkuNjMiIHJ5PSI5LjYzIiBzdHlsZT0iZmlsbDpub25lIi8+PC9jbGlwUGF0aD48Y2xpcFBhdGggaWQ9ImYiPjxyZWN0IHg9Ii0yNzYuODkiIHk9Ii05NzUuODEiIHdpZHRoPSI0My4zMyIgaGVpZ2h0PSIyNy4yOCIgcng9IjQuODEiIHJ5PSI0LjgxIiBzdHlsZT0iZmlsbDpub25lIi8+PC9jbGlwUGF0aD48Y2xpcFBhdGggaWQ9ImciPjxwYXRoIGQ9Ik0tMTY1Ni4xNCwyMjEuNDVILTE2OC4yNmE5LjYzLDkuNjMsMCwwLDEsOS42Myw5LjYzdjcxMWE5LjYzLDkuNjMsMCwwLDEtOS42Myw5LjYzSC0xNjU0LjYxYTkuNjMsOS42MywwLDAsMS05LjYzLTkuNjFsLTEuNTMtNzExYTkuNjMsOS42MywwLDAsMSw5LjYxLTkuNjVaIiBzdHlsZT0iZmlsbDpub25lO2NsaXAtcnVsZTpldmVub2RkIi8+PC9jbGlwUGF0aD48Y2xpcFBhdGggaWQ9ImgiPjxyZWN0IHg9Ii0xNjY0LjE2IiB5PSI4MzYuMTgiIHdpZHRoPSIxNTAzLjkyIiBoZWlnaHQ9Ijg5Ljg4IiBzdHlsZT0iZmlsbDpub25lIi8+PC9jbGlwUGF0aD48Y2xpcFBhdGggaWQ9ImkiPjxyZWN0IHg9Ii0xNjE2LjAxIiB5PSIzODUuMTYiIHdpZHRoPSIxNDA2LjAyIiBoZWlnaHQ9IjEuNjEiIHN0eWxlPSJmaWxsOm5vbmUiLz48L2NsaXBQYXRoPjxjbGlwUGF0aCBpZD0iaiI+PHJlY3QgeD0iLTQyOS44OCIgeT0iMjQ3LjEzIiB3aWR0aD0iMTQyLjg1IiBoZWlnaHQ9IjU2LjE4IiByeD0iNC44MiIgcnk9IjQuODIiIHN0eWxlPSJmaWxsOm5vbmUiLz48L2NsaXBQYXRoPjxjbGlwUGF0aCBpZD0iayI+PHBhdGggZD0iTS0xNjU2LjE0LTU5NS41MkgtMTY4LjI2YTkuNjMsOS42MywwLDAsMSw5LjYzLDkuNjNWMTA3LjQ5YTkuNjMsOS42MywwLDAsMS05LjYzLDkuNjNILTE2NTQuNjFhOS42Myw5LjYzLDAsMCwxLTkuNjMtOS42MWwtMS41My02OTMuMzhhOS42Myw5LjYzLDAsMCwxLDkuNjEtOS42NVoiIHN0eWxlPSJmaWxsOm5vbmU7Y2xpcC1ydWxlOmV2ZW5vZGQiLz48L2NsaXBQYXRoPjxjbGlwUGF0aCBpZD0ibCI+PHJlY3QgeD0iLTE2NjIuNTUiIHk9IjEuNTYiIHdpZHRoPSIxNTAyLjMyIiBoZWlnaHQ9Ijg5Ljg4IiBzdHlsZT0iZmlsbDpub25lIi8+PC9jbGlwUGF0aD48Y2xpcFBhdGggaWQ9Im0iPjxyZWN0IHg9Ii0xNjE2LjAxIiB5PSItNDQ5LjQ2IiB3aWR0aD0iMTQwNi4wMiIgaGVpZ2h0PSIxLjYxIiBzdHlsZT0iZmlsbDpub25lIi8+PC9jbGlwUGF0aD48L2RlZnM+PHRpdGxlPk1vbmVyb1Zpc2lvbiBGb290ZXIgQmFja2dyb3VuZDwvdGl0bGU+PHJlY3Qgd2lkdGg9IjEyNy4yIiBoZWlnaHQ9IjEyNy4yIiBzdHlsZT0iZmlsbDojZmNkYjZlIi8+PHBvbHlnb24gcG9pbnRzPSIxOC42MyA2My42IDAgNDQuOTcgMCAxOC42MyAxOC42MyAwIDQ0Ljk3IDAgNjMuNiAxOC42MyA2My42IDQ0Ljk3IDQ0Ljk3IDYzLjYgMTguNjMgNjMuNiIgc3R5bGU9ImZpbGw6I2U0MWUyNiIvPjxwb2x5Z29uIHBvaW50cz0iMzEuOCAyMC41NiA2My42IDAgNDMuMDQgMzEuOCA2My42IDYzLjYgMzEuOCA0My4wNCAwIDYzLjYgMjAuNTYgMzEuOCAwIDAgMzEuOCAyMC41NiIgc3R5bGU9ImZpbGw6I2VlOGUyMiIvPjxwb2x5Z29uIHBvaW50cz0iMzEuOCAyNC45MiA0NC45NyAwIDM2LjY3IDI2LjkzIDYzLjYgMTguNjMgMzguNjggMzEuOCA2My42IDQ0Ljk3IDM2LjY3IDM2LjY3IDQ0Ljk3IDYzLjYgMzEuOCAzOC42OCAxOC42MyA2My42IDI2LjkzIDM2LjY3IDAgNDQuOTcgMjQuOTEgMzEuOCAwIDE4LjYzIDI2LjkzIDI2LjkzIDE4LjYzIDAgMzEuOCAyNC45MiIgc3R5bGU9ImZpbGw6I2ZjZGI2ZSIvPjxwb2x5Z29uIHBvaW50cz0iODIuMjMgNjMuNiA2My42IDQ0Ljk3IDYzLjYgMTguNjMgODIuMjMgMCAxMDguNTcgMCAxMjcuMiAxOC42MyAxMjcuMiA0NC45NyAxMDguNTcgNjMuNiA4Mi4yMyA2My42IiBzdHlsZT0iZmlsbDojZWU4ZTIyIi8+PHBvbHlnb24gcG9pbnRzPSI5NS40IDIwLjU2IDEyNy4yIDAgMTA2LjY0IDMxLjggMTI3LjIgNjMuNiA5NS40IDQzLjA0IDYzLjYgNjMuNiA4NC4xNiAzMS44IDYzLjYgMCA5NS40IDIwLjU2IiBzdHlsZT0iZmlsbDojOWEyMTIwIi8+PHBvbHlnb24gcG9pbnRzPSI5NS40IDI0LjkyIDEwOC41NyAwIDEwMC4yNyAyNi45MyAxMjcuMiAxOC42MyAxMDIuMjggMzEuOCAxMjcuMiA0NC45NyAxMDAuMjcgMzYuNjcgMTA4LjU3IDYzLjYgOTUuNCAzOC42OCA4Mi4yMyA2My42IDkwLjUzIDM2LjY3IDYzLjYgNDQuOTcgODguNTIgMzEuOCA2My42IDE4LjYzIDkwLjUzIDI2LjkzIDgyLjIzIDAgOTUuNCAyNC45MiIgc3R5bGU9ImZpbGw6I2ZjZGI2ZSIvPjxwb2x5Z29uIHBvaW50cz0iMTguNjMgMTI3LjIgMCAxMDguNTcgMCA4Mi4yMyAxOC42MyA2My42IDQ0Ljk3IDYzLjYgNjMuNiA4Mi4yMyA2My42IDEwOC41NyA0NC45NyAxMjcuMiAxOC42MyAxMjcuMiIgc3R5bGU9ImZpbGw6I2VlOGUyMiIvPjxwb2x5Z29uIHBvaW50cz0iMzEuOCA4NC4xNiA2My42IDYzLjYgNDMuMDQgOTUuNCA2My42IDEyNy4yIDMxLjggMTA2LjY0IDAgMTI3LjIgMjAuNTYgOTUuNCAwIDYzLjYgMzEuOCA4NC4xNiIgc3R5bGU9ImZpbGw6IzlhMjEyMCIvPjxwb2x5Z29uIHBvaW50cz0iMzEuOCA4OC41MSA0NC45NyA2My42IDM2LjY3IDkwLjUzIDYzLjYgODIuMjMgMzguNjggOTUuNCA2My42IDEwOC41NyAzNi42NyAxMDAuMjcgNDQuOTcgMTI3LjIgMzEuOCAxMDIuMjggMTguNjMgMTI3LjIgMjYuOTMgMTAwLjI3IDAgMTA4LjU3IDI0LjkxIDk1LjQgMCA4Mi4yMyAyNi45MyA5MC41MyAxOC42MyA2My42IDMxLjggODguNTEiIHN0eWxlPSJmaWxsOiNmY2RiNmUiLz48cG9seWdvbiBwb2ludHM9IjgyLjIzIDEyNy4yIDYzLjYgMTA4LjU3IDYzLjYgODIuMjMgODIuMjMgNjMuNiAxMDguNTcgNjMuNiAxMjcuMiA4Mi4yMyAxMjcuMiAxMDguNTcgMTA4LjU3IDEyNy4yIDgyLjIzIDEyNy4yIiBzdHlsZT0iZmlsbDojOWEyMTIwIi8+PHBvbHlnb24gcG9pbnRzPSI5NS40IDg0LjE2IDEyNy4yIDYzLjYgMTA2LjY0IDk1LjQgMTI3LjIgMTI3LjIgOTUuNCAxMDYuNjQgNjMuNiAxMjcuMiA4NC4xNiA5NS40IDYzLjYgNjMuNiA5NS40IDg0LjE2IiBzdHlsZT0iZmlsbDojZTQxZTI2Ii8+PHBvbHlnb24gcG9pbnRzPSI5NS40IDg4LjUxIDEwOC41NyA2My42IDEwMC4yNyA5MC41MyAxMjcuMiA4Mi4yMyAxMDIuMjggOTUuNCAxMjcuMiAxMDguNTcgMTAwLjI3IDEwMC4yNyAxMDguNTcgMTI3LjIgOTUuNCAxMDIuMjggODIuMjMgMTI3LjIgOTAuNTMgMTAwLjI3IDYzLjYgMTA4LjU3IDg4LjUyIDk1LjQgNjMuNiA4Mi4yMyA5MC41MyA5MC41MyA4Mi4yMyA2My42IDk1LjQgODguNTEiIHN0eWxlPSJmaWxsOiNmY2RiNmUiLz48cmVjdCB3aWR0aD0iMTI3LjIiIGhlaWdodD0iMTI3LjIiIHN0eWxlPSJmaWxsOiNkNTdlNGM7b3BhY2l0eTowLjkiLz48L3N2Zz4=');
  background-size: 5rem;
  color: white;

  &-inner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin: auto;
    padding: 1rem 2rem;
    max-width: 1024px;
  }

  &-logo {
    margin-right: 2rem;
    height: 4rem;    
    & > img {
      height: 4rem;
    }
  }

  &-logo.mycrypto {
    height:3.6rem;
    & > img {
      height: 3.6rem;
    }
  }

  &-social-media-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
  }

  &-social-media-link {
    padding: 0.5rem;
    margin: 0 0.5rem;
    line-height: 0;
  }

  &-wrap {
    display: flex;
    @media screen and (max-width: 800px) {
      flex-wrap: wrap;
    }
  }
  &-text {
    font-size: 0.8rem;
    font-weight: normal;
    a {
      color: white;
      text-decoration: underline;
    }
  }
  &-social-media-link {
    padding: 0.5rem;
    line-height: 0;
    font-size: 1.4rem;
  }
  &-social-titles {
    font-size: 1rem;
    font-weight: normal;
    margin: 1rem 0 0.25rem 0;
  }
  .nc-icon {
    color: white;
  }
  a {
    transition: opacity $transition;
  }
}
