@import 'src/sass/variables/index';

.Footer {
	width: 100%;
	padding: 1.5rem 2rem;
	font-size: 24px;
	background-color: $footer-color;
	&-social-media-wrapper {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
	}
	&-social-media-link {
		padding: 0.5rem;
		margin: 0 0.5rem;
		line-height: 0;
	}
}
