@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 300;
  src: url('../../assets/fonts/Roboto-Mono-Light.woff2') format('woff2'),
    url('../../assets/fonts/Roboto-Mono-Light.woff') format('woff');
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/fonts/Roboto-Mono-Regular.woff2') format('woff2'),
    url('../../assets/fonts/Roboto-Mono-Regular.woff') format('woff');
}
