/*------------------------
	font icons
-------------------------*/

.nc-icon.nc-small-triangle-down:before {
  content: '\ea02';
}

.nc-icon.nc-ic_refresh_24px:before {
  content: '\ea04';
}

.nc-icon.nc-ic_add_24px:before {
  content: '\ea0b';
}

.nc-icon.nc-ic_settings_24px:before {
  content: '\ea0c';
}

.nc-icon.nc-ic_info_24px:before {
  content: '\ea0d';
}

.nc-icon.nc-ic_close_24px:before {
  content: '\ea10';
}

.nc-icon.nc-ic_keyboard_arrow_right_24px:before {
  content: '\ea11';
}

.nc-icon.nc-ic_keyboard_arrow_left_24px:before {
  content: '\ea12';
}

.nc-icon.nc-ic_menu_24px:before {
  content: '\ea13';
}

.nc-icon.nc-logo-white-transparent:before {
  content: '\ea14';
}

.nc-icon.nc-logo-github:before {
  content: '\ea16';
}

.nc-icon.nc-logo-facebook:before {
  content: '\ea17';
}

.nc-icon.nc-discord:before {
  content: '\ea18';
}

.nc-icon.nc-logo-twitter:before {
  content: '\ea19';
}

.nc-icon.nc-logo-medium:before {
  content: '\ea1a';
}

.nc-icon.nc-logo-instagram:before {
  content: '\ea1b';
}

.nc-icon.nc-logo-reddit:before {
  content: '\ea1c';
}

.nc-icon.nc-logo-linkedin:before {
  content: '\ea1d';
}
