/*------------------------
	font icons
-------------------------*/

.nc-icon.nc-small-triangle-down:before {
	content: '\ea02';
}

.nc-icon.nc-ic_refresh_24px:before {
	content: '\ea04';
}

.nc-icon.nc-ic_add_24px:before {
	content: '\ea0b';
}

.nc-icon.nc-ic_settings_24px:before {
	content: '\ea0c';
}

.nc-icon.nc-ic_info_24px:before {
	content: '\ea0d';
}

.nc-icon.nc-logo-twitter:before {
	content: '\ea0e';
}

.nc-icon.nc-logo-github:before {
	content: '\ea0f';
}

.nc-icon.nc-ic_close_24px:before {
	content: '\ea10';
}
