/*------------------------
	icons
-------------------------*/
@function unicode($str) {
  @return unquote('"\\#{$str}"');
}

$nc-small-triangle-down: unicode(ea02);
$nc-ic_refresh_24px: unicode(ea04);
$nc-ic_add_24px: unicode(ea0b);
$nc-ic_settings_24px: unicode(ea0c);
$nc-ic_info_24px: unicode(ea0d);
$nc-ic_close_24px: unicode(ea10);
$nc-ic_keyboard_arrow_right_24px: unicode(ea11);
$nc-ic_keyboard_arrow_left_24px: unicode(ea12);
$nc-ic_menu_24px: unicode(ea13);
$nc-discord: unicode(ea1e);
$nc-twitch: unicode(ea1f);
$nc-logo-instagram: unicode(ea20);
$nc-logo-github: unicode(ea21);
$nc-logo-facebook: unicode(ea22);
$nc-logo-linkedin: unicode(ea23);
$nc-logo-reddit: unicode(ea24);
$nc-logo-twitter: unicode(ea25);
$nc-logo-medium: unicode(ea26);

.nc-small-triangle-down::before {
  content: $nc-small-triangle-down;
}

.nc-ic_refresh_24px::before {
  content: $nc-ic_refresh_24px;
}

.nc-ic_add_24px::before {
  content: $nc-ic_add_24px;
}

.nc-ic_settings_24px::before {
  content: $nc-ic_settings_24px;
}

.nc-ic_info_24px::before {
  content: $nc-ic_info_24px;
}

.nc-ic_close_24px::before {
  content: $nc-ic_close_24px;
}

.nc-ic_keyboard_arrow_right_24px::before {
  content: $nc-ic_keyboard_arrow_right_24px;
}

.nc-ic_keyboard_arrow_left_24px::before {
  content: $nc-ic_keyboard_arrow_left_24px;
}

.nc-ic_menu_24px::before {
  content: $nc-ic_menu_24px;
}

.nc-discord::before {
  content: $nc-discord;
}

.nc-twitch::before {
  content: $nc-twitch;
}

.nc-logo-instagram::before {
  content: $nc-logo-instagram;
}

.nc-logo-github::before {
  content: $nc-logo-github;
}

.nc-logo-facebook::before {
  content: $nc-logo-facebook;
}

.nc-logo-linkedin::before {
  content: $nc-logo-linkedin;
}

.nc-logo-reddit::before {
  content: $nc-logo-reddit;
}

.nc-logo-twitter::before {
  content: $nc-logo-twitter;
}

.nc-logo-medium::before {
  content: $nc-logo-medium;
}
