@import 'src/sass/mixins/index';
@import 'src/sass/variables/index';

.Modal {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid $border-color;
  border-radius: $border-radius;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 9px;
  background-color: #fff;
  min-width: 240px;
  max-width: 80%;
  @media screen and (max-width: 900px) {
    max-width: 90%;
  }
  max-height: 80%;
  > div {
    padding: 1rem 1.5rem;
  }
  &-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.24);
    z-index: 1;
    height: 100%;
    padding: 4rem 2rem;
    @media screen and (max-width: 900px) {
      padding: 2rem 1rem;
    }
  }
  &-heading {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    border-bottom: 1px solid $border-color;
    padding: 0.5rem 1.5rem !important;
    .nc-icon {
      @include icon-button(#5f6478);
      font-size: 1.5rem;
      font-weight: 400;
    }
  }
  &-title {
    color: #5f6478;
    font-size: 1.25rem;
    font-weight: 400;
  }
  &-close {
    @include button-reset;
  }
  &-body {
    min-height: 96px;
  }
  &-footer {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-items: center;
  }
  &-info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #f8f9fb;
    border-radius: $border-radius;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    color: #777f96;
    align-items: end;
    margin-bottom: 0.5rem;
    > .nc-icon {
      margin-right: 1rem;
      font-size: 1.5rem;
    }
  }
  &-button {
    &:not(:last-child) {
      margin-left: 1rem !important;
    }
    &.primary {
      @include button($secondary-color);
      @include button-primary;
    }
    &.secondary {
      @include button(#fff);
      @include button-secondary;
    }
    &.warning {
      @include button(#e06b56);
    }
  }
}
