@import 'src/sass/mixins/index';
@import 'src/sass/variables/index';

.Navigation {
  background-color: $Navigation-bg;
  width: 100%;
  padding: 0.75rem 2rem;
  margin-top: .8rem;
  @media screen and (max-width: 800px) {
    padding: 0.75rem 1rem;
    margin-top: 0;
  }
  box-shadow: $box-shadow;
  font-size: 1rem;
  z-index: 1;
  &-Drawer {
    @include RTG-side-drawer;
    &-wrapper {
      color: #000000de;
      position: fixed;
      top: 0;
      left: 0;
      box-sizing: border-box;
      width: calc(100% + 240px);
      height: 100%;
      overflow: hidden;
      contain: strict;
      z-index: 1;

      &:before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.24);
        z-index: 1;
        height: 100%;
        padding: 4rem 2rem;
        @media screen and (max-width: 800px) {
          padding: 2rem 1rem;
        }
      }
    }

    position: absolute;
    height: 100%;
    left: 0;
    width: 240px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 9px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    &-header {
      display: flex;
      background-color: $Navigation-bg;
      padding: 0.75rem 1rem;
      justify-content: center;
      border-bottom: 1px solid transparent;
      > .Navigation-title {
        height: 6rem;
      }
    }

    > .Select-node-wrapper {
      flex-grow: 1;
    }
  }
  &-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    max-width: 1280px;
    width: 100%;
    margin: auto;
  }
  &-title {
    display: flex;
    align-items: center;
    font-weight: 500;
    color: white;
    white-space: nowrap;
    height: 2rem;
    > img {
      margin: -1rem 0;
      height: 6rem;
    }
  }

  &-open-drawer {
    display: none;
    @include button-reset;
    color: white;
    padding: 0.5rem;
    font-size: 1.5rem;
    line-height: 0;
    margin-right: 1rem;
    @media screen and (max-width: 800px) {
      display: block;
    }
  }

  @media screen and (max-width: 800px) {
    & &-title {
      display: none;
    }
    .Select-node-button {
      display: none;
    }
  }
}
