$primary-color: #faa800;
$secondary-color: #77bdf7;

$error-color: #d1715c;
$warning-color: #e2de66;
$hover-color: #f6fbff;

$footer-color: #ffffff;
$border-color: #f2f2f2;
$border-dark-color: #e0e0e0;
