@import 'src/sass/mixins/index';
@import 'src/sass/variables/index';

.App {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  height: inherit;
  z-index: 1;
  &-body {
    padding: 4rem 2rem;
    margin-top: 4.125rem;
    max-width: 1024px;
    width: 100%;
  }

  @media screen and (max-width: 900px) {
    &-body {
      padding: 2rem 1rem;
    }
  }
}
