@import 'src/sass/variables/index';
@import 'src/sass/mixins/index';

.Search {
  @include input-reset;
  background-color: lighten($Navigation-bg, 6%);
  border-radius: $border-radius;
  color: $brown-dark;
  font-size: 1rem;
  font-weight: 400;
  margin: 0 1rem;
  max-width: 768px;
  padding: 0.75rem 1rem;
  transition: box-shadow $transition;
  width: 100%;
  @media screen and (max-width: 800px) {
    margin: 0;
  }
  &::placeholder {
    color: $brown-dark;
    text-align: center;
    opacity: 1;
  }
  &:focus {
    box-shadow: $box-shadow;
  }
}
