@import 'src/sass/variables/index';

.Input {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	&:not(:last-child) {
		margin-bottom: 0.5rem;
	}
	&-label {
		font-size: 1rem;
		font-weight: 400;
		color: #636a7d;
		margin: 0.5rem 0;
	}
	&-input {
		font-size: 1rem;
		font-weight: 400;
		color: #636a7d;
		padding: 1rem 1.5rem;
		border-radius: $border-radius;
		border: 1px solid $border-color;
		transition: border-color $transition;
		&:focus {
			border-color: $secondary-color;
		}
		&::placeholder {
			color: #d9d9d9;
		}
	}
}
