@import 'src/sass/mixins/index';
@import 'src/sass/variables/index';

.Notification {
  &-wrapper {
    position: fixed;
    min-width: 512px;
    max-width: 1024px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 2rem;
    z-index: 1;
    @media screen and (max-width: 900px) {
      padding: 1rem;
    }
    @media screen and (max-width: 600px) {
      min-width: 100%;
    }
  }

  @include RTG-notification;
  color: white;
  background-color: #3f4350;
  padding: 1rem 1.5rem;
  border-radius: 6px;
  box-shadow: $box-shadow;
  margin-top: 1rem;
  z-index: 1;

  > span {
    font-weight: 500;
    margin-right: 1rem;
    padding: 0.25rem 0.5rem;
    background-color: transparent;
    border-radius: 3px;
    &.Error {
      background-color: $error-color;
    }
  }
}
