@import 'src/sass/variables/index';

@mixin button-reset {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

@mixin button($bg-color) {
  @include button-reset;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: $button-border-radius;
  white-space: nowrap;
  color: white;
  background-color: $bg-color;
  .nc-icon {
    margin-left: 0.5rem;
  }
  transition: background-color $transition;
  &:hover:not([disabled]) {
    cursor: pointer;
    background-color: lighten($bg-color, 4%);
  }
  &:active {
    background-color: lighten($bg-color, 2%);
  }
}

@mixin button-primary {
  box-shadow: $box-shadow;
}

@mixin button-secondary {
  color: #999999;
  &:hover:not([disabled]) {
    background-color: darken(white, 3%);
  }
  &:active {
    background-color: darken(white, 5%);
  }
}

@mixin icon-button($color) {
  background: none;
  border: none;
  color: $color;
  display: flex;
  padding: 0.5rem;
  border-radius: 50%;
  transition: opacity $transition, background-color 150ms ease-out;
  opacity: 0.4;
  &:hover:not([disabled]) {
    opacity: 1 !important;
    cursor: pointer;
  }
  &:active {
    background-color: $hover-color;
  }
}
