@import 'src/sass/variables/index';

.Details {
  div.skeleton,
  p.skeleton {
    margin-top: 0.309rem;
    margin-bottom: 0.309rem;
    width: fit-content;
  }
  .wrap.skeleton {
    width: 100%;
  }
  &-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 1rem 2rem;
    margin: -1rem -2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid $border-color;
    &-title {
      font-size: 1.25rem;
      font-weight: 500;
      color: $text-color;
    }
    &-timestamp {
      margin-left: 1rem;
      text-align: right;
      font-size: 1rem;
      font-weight: 400;
      color: $blue-gray;
    }

    @media screen and (max-width: 700px) {
      flex-wrap: wrap;
      &-title,
      &-timestamp {
        text-align: left;
      }
      > .Tag {
        margin: 0;
      }
      &-timestamp {
        width: 100%;
        margin: 0;
        margin-bottom: 0.5rem;
      }
    }

    @media screen and (max-width: 400px) {
      > .Tag {
        order: 1;
      }
    }
  }
  &-body {
    min-height: 3rem;
    &-section {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;

      @media screen and (max-width: 900px) {
        flex-direction: column;
      }

      &:not(:last-child) {
        margin-bottom: 2rem;
        border-bottom: 1px solid $border-color;
      }
      &-title {
        font-size: 1rem;
        font-weight: 400;
        color: $text-color;
        width: 8rem;
        margin-right: 3rem;

        @media screen and (max-width: 900px) {
          font-size: 1.25rem;
          font-weight: 500;
          margin-bottom: 1rem;
          margin-right: 0;
        }
      }
      &-content {
        width: 100%;
        &-input,
        > a {
          display: inline-flex;
          flex-direction: column;
          flex-wrap: nowrap;
          word-wrap: break-word;
          word-break: break-all;
          margin-bottom: 2rem;
          @media screen and (max-width: 900px) {
            margin-bottom: 2rem;
          }
          &:not(:last-child) {
            margin-right: 6rem;
            @media screen and (max-width: 900px) {
              &.hash,
              &.extra {
                margin-right: 0;
              }
              margin-right: 3rem;
            }
          }
          p {
            color: $blue-gray;
            font-weight: 400;
            font-size: 1.1rem;
            &:first-child {
              color: $blue-gray-light;
              font-size: 0.9rem;
            }
          }
        }
      }
      &-table {
        margin-right: 0;
        table-layout: auto;
        &:not(:last-child) {
          margin-bottom: 2rem;
        }
        th {
          font-size: 1rem;
          font-weight: 400;
          color: $text-color;
          padding-bottom: 1rem;
          padding-left: 1rem;
          border-bottom: 1px solid $border-color;
          text-align: right;
          &:first-child {
            text-align: left;
            padding-left: 0;
            padding-right: 1rem;
          }
        }
        td {
          font-size: 1rem;
          font-weight: 400;
          padding: 1rem 0rem;
          color: $blue-gray;
          text-align: right;
          white-space: nowrap;
          vertical-align: top;
          &:first-child {
            text-align: left;
            word-wrap: break-word;
            white-space: normal;
          }
          &:not(:last-child) {
            padding-right: 2rem;
          }
        }
        tr:not(:last-child) > td {
          border-bottom: 1px solid $border-color;
        }
      }
    }
  }
}
