@import 'src/sass/variables/index';
@import 'src/sass/mixins/index';

.xmr-price {
  border: 1px solid $border-color;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  &-header {
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    .title {
      font-size: 1rem;
      color: $line-chart-accent;
    }
    .time {
      font-size: 1rem;
      font-weight: 500;
      border-radius: 6px;
      background-color: $line-chart-accent;
      color: white;
      padding: 0.25rem 0.5rem;
      line-height: 1;
    }
  }
  &-data {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0rem 1.5rem;
    margin-bottom: 0.5rem;

    .left,
    .right {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
    }

    &-current {
      color: $text-color;
      font-weight: 400;
      font-size: 1.75rem;
      line-height: 1;
      margin-bottom: 0.5rem;
      &.skeleton {
        font-size: 1.75rem;
        margin-top: 0;
        margin-bottom: 0.5rem;
      }
    }
    &-difference {
      font-size: 1rem;
      font-weight: 400;
      line-height: 1;
      &.positive {
        color: $green;
      }
      &.negative {
        color: #d1715c;
      }
      &.skeleton {
        width: min-content;
      }
    }

    &-high,
    &-low {
      font-size: 1rem;
      font-weight: 400;
      color: $text-color;
      text-align: right;
      display: flex;
      align-items: center;
      .label {
        float: left;
        color: #96989c;
        max-width: 50px;
        margin-right: 1rem;
      }
      .value {
        max-width: 100px;
        white-space: nowrap;
      }

      .label,
      .value {
        &.skeleton {
          line-height: 1;
          margin: 0.309rem 0;
        }
      }

      .label.skeleton {
        margin-right: 1rem;
      }
    }
  }
}
