@import 'src/sass/variables/index';

.xmr-price {
	border: 1px solid $border-color;
	border-radius: 6px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	&-header {
		padding: 1rem 1.5rem;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;
		.title {
			font-size: 1rem;
			font-weight: 500;
			color: #77bdf7;
		}
		.time {
			font-size: 1rem;
			font-weight: 500;
			border-radius: 6px;
			background-color: #d9d9d9;
			color: white;
			padding: 0.25rem 0.5rem;
			line-height: 1;
		}
	}
	&-data {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;
		padding: 0rem 1.5rem;
		margin-bottom: 0.5rem;

		.left,
		.right {
			display: flex;
			flex-direction: column;
			flex-wrap: nowrap;
		}

		&-current {
			color: #5f6478;
			font-weight: 400;
			font-size: 1.75rem;
			line-height: 1;
			margin-bottom: 0.5rem;
		}
		&-difference {
			font-size: 1rem;
			font-weight: 400;
			line-height: 1;
			&.positive {
				color: #8bd948;
			}
			&.negative {
				color: #d1715c;
			}
		}

		&-high,
		&-low {
			font-size: 1rem;
			font-weight: 400;
			color: #5f6478;
			text-align: right;
			.label {
				float: left;
				color: #d9d9d9;
				text-align: left;
				width: 50px;
			}
			.value {
				width: 100px;
				white-space: nowrap;
			}
		}
	}
}
